<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Better Meetups!</title>
        <meta name="description" content="enhanced meetup organisation interface">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Montserrat|Source+Sans+Pro' rel='stylesheet' type='text/css'>
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>
        <header class="header-wrapper">
            <h1 class="title">Better Meetups!</h1>
        </header>

                    {{{body}}}

        <footer class="footer-wrapper">
            <h3>footer</h3>
        </footer>

    </body>
</html>
