<main class="main wrapper clearfix">
    <article>
        <header>
            <h1>Meetup Stats</h1>
        </header>
        {{#results}}
        <section>
          <h2> {{event.name}} </h2>
          {{#if noShows.length}}
            <h3> No Shows </h3>
            <ul>
              {{#noShows}}
              <li>{{member.name}}</li>
              {{/noShows}}
            </ul>
          {{/if}}
          {{#if dropouts.length}}
            <h3> Dropouts </h3>
            <ul>
              {{#dropouts}}
              <li>{{member.name}}</li>
              {{/dropouts}}
            </ul>
          {{/if}}
        </section>
        {{/results}}
    </article>
</main> <!-- #main -->