<main class="main wrapper clearfix">
    <article>
        <header>
            <h1>Meetup Stats</h1>
        </header>
        <section>
          <ul>
          {{#each events}}
            <li>
              <strong>{{event.name}}</strong><br>
              Yes: {{tallies.yes}},
              No: {{tallies.no}}
            </li>
          {{/each}}
          </ul>
        </section>
        <footer>
            <h3>article footer h3</h3>
        </footer>
    </article>
    <aside>
        <h3>aside</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
    </aside>
</main> <!-- #main -->
