/* basics */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    margin: 0 2vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #4356d1;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 3em;
}

/* layout */

.header-wrapper {
    padding: .6em;
    background-color: #d4ecff;
    margin: 0 -2vw 1em -2vw;
}

.nav-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 18%;
}

.main-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 80%;
}

.footer-wrapper {
    background-color: #d4ecff;
    margin: 0 -2vw;
    padding: .6em;
    text-align: center;
}

/* typography */

.title {
    font-size: 2.6em;
    text-align: center;
}
